.user-management {
  // background: #f7f8fa;
  padding: 0 20px 32px;
  min-height: 100vh;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;

    h1 {
      font-size: 30px;
      font-weight: 500;
      height: 44px;
    }
    p {
      font-size: 14px;
      margin: 0;
      line-height: 21px;
      font-weight: 400;
    }
  }

  &__new-tenant {
    background: #2473c2;
    color: #fff;
    border: none;
    border-radius: 8px;
    gap: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 15px 12px;
    font-size: 16px;
    height: 40px;
    font-weight: 400;
    cursor: pointer;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
    gap: 12px;
  }

  &__search {
    padding: 10px 16px;
    border: 1px solid #ddd;
    border-radius: 7px;
    font-size: 14px;
    width: 252px;
    font-weight: 400;
  }

  &__filters {
    display: flex;
    gap: 8px;
    button {
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 7px;
      padding: 8px 16px;
      font-size: 15px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 6px;
      color: #787878;
    }
  }

  &__table-wrapper {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
    padding: 0 0 12px 0;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    input[type="checkbox"] {
      transform: scale(1.3); /* Increase size by 1.5x */
      margin: 5px;
    }

    .name {
      color: black;
      text-decoration: none;
      text-transform: capitalize;
    }

    th,
    td {
      padding: 12px 10px;
      text-align: left;
      vertical-align: middle;
    }
    th {
      background: #2473c226;
      font-weight: 400;
      color: #787878;
      font-size: 16px;
    }
    tr {
      border-bottom: 1px solid #f0f0f0;
    }
    td {
      background: #fff;
      font-size: 18px;
      font-weight: 400;
    }
  }

  &__avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
    vertical-align: middle;
  }

  .active {
    color: #1bbf5c;
    font-weight: 500;
  }
  .inactive {
    color: #e74c3c;
    font-weight: 500;
  }
  .done {
    color: #1bbf5c;
    font-weight: 500;
  }
  .pending {
    color: #f5a623;
    font-weight: 500;
  }
  .failed {
    color: #e74c3c;
    font-weight: 500;
  }

  &__action {
    margin-right: 8px;
    cursor: pointer;
    img {
      width: 18px;
      height: 18px;
      vertical-align: middle;
    }
  }

  &__pagination {
    padding: 10px 18px 0 18px;
    font-size: 15px;
    color: #555;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  &__next {
    color: #2473c2;
    cursor: pointer;
    font-weight: 500;
  }
}


